body{
	background-color: #1f013d;
}

p, h1, h2{
	color: #d3a13b;
}

h3, h4{
	color: #d3a13b;
}

input[type=radio]{
	color: white;
}

.nlink:hover{
	text-decoration: underline;
}

.navbar{
	height: 70px;
	background-color: #1f013d;
}

.navbar-header{
	margin-left: 39%;
}

.navbar-brand{
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.btn-primary{
	background-color: #1f013d;
	border: 0 !important;
}

.btn-primary:hover{
	background-color: #792dc4;
}

.btn.btn-primary:focus{
	background-color: #792dc4;
}

#logo{
	height: 4em;
	width: 4em;
}


#threehash{
	width: 2em;
	height: 2em;
}