html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}


.main{
	margin-top: 1%;
	margin-left: -.75%;
	padding-top: 3%;
	padding-left: 4%; 
	padding-right: 5%;
}

#buttonset{
	margin-top: 5%;
}

button{
	background-color: white;
	border: none;
	border-radius: 7px;
	transition: 0.15s;
}

.select p, h3{
	color: black;
	font-variant-caps: all-small-caps;
}

.select:hover h3{
	color: #826e17;
}



#logo{
	border-radius: 0%;
}


#pfp{
	border-color: white;
	margin-bottom: 1%;
	border-radius: 100%;
	width: 7em;
	height: 7em;
}

a{
	color: white;
}

h1{
	color: white;
	font-weight: normal;
	font-size: 1.75em;
}

#fn{
	color: orange;
}

#modalmsg{
	font-size: 18px;
	color: black;
}

#bottom{
	margin-top: 5%;
	margin-left: -2.5%;
	margin-right: auto;
	bottom: 0px;
}

#botlogo{
	margin-bottom: -.75%;
	width: 20em;
	height: 5em;
}

#copyright{
	color: #826e17;
}

#logobrand{
	margin-bottom: 2%;
}

#logobrand img{
	width: 10em;
	height: 10em;
}

#logobrand p{
	margin-top: .5%;
	color: white;
	font-size: 3.75em;
	font-weight: bold;
	text-align: center;
}

#skill{
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	margin-right: -69%;
}

#skill img{
	height: 8em;
	width: 8em;
}

#report{
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .5em;
	margin-left: -70%;
}

#report img{
	height: 8em;
	width: 8em;
}

#reporttext{
	font-weight: normal;
}
