html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}


.main{
	margin-top: 6%;
	margin-left: -1%;
	padding-top: 3%;
	padding-left: 3.8%; 
	padding-right: 5%;
	margin-bottom: 8%;
}

#buttonset{
	margin-top: 5%;
}

button{
	background-color: white;
	border: none;
	border-radius: 7px;
	transition: 0.15s;
}

.select p, h3{
	color: black;
	font-variant-caps: all-small-caps;
	font-size: 1em;
}

.select:hover h3{
	color: #826e17;
}



#logo{
	border-radius: 0%;
}


#pfp{
	border-color: white;
	border-radius: 100%;
	margin-bottom: 2%;
	width: 8em;
	height: 8em;
}

#pfptext{
	font-size: 0.7em;
}

a{
	color: white;
}

h1{
	color: white;
	font-weight: normal;
	font-size: 1.5em;
}

#fn{
	color: orange;
}

#modalmsg{
	font-size: 18px;
	color: black;
}

#bottom{
	margin-top: 8%;
	margin-left: -5%;
	margin-right: auto;
	bottom: 0px;
}

#botlogo{
	margin-bottom: -4%;
	width: 20em;
}

#copyright{
	color: #826e17;
}

#logobrand{
	margin-bottom: 2%;
}

#logobrand img{
	width: 10em;
	height: 10em;
}

#logobrand p{
	color: white;
	font-size: 3.5em;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}

#skill{
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .29em;
}

#skill img{
	height: 8em;
	width: 8em;
}

#report{
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .29em;
}

#report img{
	height: 8em;
	width: 8em;
}

#reporttext{
	font-weight: normal;
}