.main{
	margin-top: 2.5%;
	margin-left: -.5%;
	padding-left: 5%;
	padding-right: 5%;
}

p{
	font-size: 20px;
}

h1{
	color: white;
	padding-bottom: 0.5%;
}

h2{
	color: white;
}

ul{
	list-style-type: none;
}

li{
	list-style-image: url(../images/checkbullet.png);
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}

img{
	border-radius: 100%;
	object-fit: contain;
}


#style{
	color: #d3a13b;
}

.go-to{
	border: none;
	border-radius: 30px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: normal;
	color: white;
	background-color: #c1ab30;
	font-variant-caps: all-small-caps;

}