.main{
	margin-right: 20%;
	margin-top: 5%;
	border-radius: 6px;
	padding: 3%;
}

#resultsarea{
	margin-top: 4%;
	text-align: left;
}

#resultsarea h1{
	color: #826e17;
	font-size: 30px;
	margin-top: 2%;
}

#resultsarea #searchcontainer{
	padding-top: 3%;
	padding-bottom: 3%;
}

#resultsarea a{
	color: #c1ab30;
}

#resultsarea .gradient{
	margin-top: -3%; 
	height: 3px;
	background-image: linear-gradient(to right, rgba(251,216,8,1), rgba(251,216,8,0));
}

#resultsarea a:hover{
	text-decoration: underline;
}

#resultsarea h2{
	font-weight: lighter;
	font-kerning: auto;
	font-size: 25px;
	color: white;
	font-variant-caps: small-caps;
	margin-top: 1%;
}

#resultsarea p{
	color: white;
	font-style: italic;
	margin-top: -3%;
}

#searchbar{
	margin-left: 13%;
}

input[type=text]{
	width: 50%;
	border-radius: 50px;
}

input[type=button]{
	border-radius: 50px;
}

.no-border{
	border: 0;
}


#msg p{
	margin-left: -10%;
	margin-top: 4%;
}

#logobrand{
	margin-bottom: 2%;
}

#logobrand img{
	width: 9em;
	height: 9em;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

#logobrand p{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2.75em;
}


#bottom{
	position: relative;
	bottom: 0px;
}

#botlogo{
	margin-bottom: -4%;
	width: 20em;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

#copyright{
	color: #826e17;
 	text-align: center;
}