body{
	background-color: white;
}

.main{
	margin: 2.5% 5% 5% 0%;
	border-radius: 6px;
	padding: 2%;
}

h2{
	color:#26123d;
	text-align: center;
}

p{
	text-align: center;
	color: black;
}

.img{
	margin-top: -2.25%;
}

#returnrep{
	margin-right: -55%;
}

#returndash{
	margin-left: -55%;
}

.btn-light{
	padding: 10px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	background-color: #7f6404;
	margin: 1%;
	color: white;
	font-size: 20px;
	border-radius: 50px;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}

.no-border{
	border: 0;
}

h3{
	color: #ad8dba;
	font-size:20px;
}

#logo{
	height: 8em;
	width: 8em;
	margin-left: 46.25%;
	display: block;
	margin-bottom: 1%;
}
