.main{
	margin-top: 15%;
	margin-left: -3%;
}

.slots{
	margin-top: -5%;
	padding-left: 10%;
	margin-left: -4%;
}

input[type=text], input[type=password], .formbox{
	width: 60%;
	border-radius: 10px;
}

span{
	color: white;
	font-size: 20px;
}

.confirm h3{
	margin-top: 5%;
	text-align: center;
}

#bigscreen{
 	display: none;
}

input[type=submit]{
	width: 99%;
	align-self: center;
	margin-top: 0.5%;
	margin-left: 2%;
	padding: 5px;
	border-radius: 15px;
	font-size: 20px;
	font-weight: bold;

}

#logobrand{
	margin-bottom: 2%;
}

#logobrand img{
	width: 9em;
	height: 9em;
}