.main{
	margin-top: 15%;
	margin-left: -1%;
}

.slots{
	margin-top: -10%;
	padding-left: -3%;
}

input[type=text], input[type=password], .formbox{
	width: 40%;
	border-radius: 10px;
}

span{
	color: white;
	font-size: 20px;
}

.confirm h3{
	text-align: center;
}

#smallscreen{
 	display: none;
}

input[type=submit]{
	width: 20%;
	align-self: center;
	border-top: 40px;
	padding: 5px;
	border-radius: 15px;
	font-size: 20px;
	font-weight: bold;

}

#logobrand{
	margin-bottom: 2%;
	margin-left: -2%;
}

#logobrand img{
	width: 7em;
	height: 7em;
}