body{
	background-color: white;
}

.main{
	margin: 5% 0% 5% 0%;
	border-radius: 6px;
	padding: 2% 10% 2% 10%;
}

h1{
	color: black;
	text-align: center;
}

h2{
	color: black;
}

p{
	color: black;
	font-size: 0.8em;
}