{% extends "ulltma/loggedin.html" %}

{%load static %}

{% block body%}
<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{%static 'ulltma/css/changepw.css'%}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{%static 'ulltma/css/changepw-mobile.css'%}">

<div class="container-fluid main">
	<div class="text-center">
		<h1> Change password.</h1>
	</div>

	<form action="{%url 'changepassword' %}" method="POST">
		{% csrf_token%}
		<h3> Type your current password. </h3>
		{{form.pcurrent}}
		<br>
		<h3> New password </h3>
		{{form.pword}}
		<br>
		<h3> Reenter New Password </h3>
		{{form.pconfirm}}
		<br>
		{% if message %}
			<div><p>{{message}}</p></div>
		{%endif%}
		<br>
		<input type="submit" value="Submit Password">
	</form>
</div>
{% endblock %}
