{% extends "ulltma/homestyle.html" %}

{%load static%}

{%block body%}

<link rel="stylesheet" type="text/css"  media="screen and (min-width:900px)" href="{%static 'ulltma/css/learnreport.css'%}">
<link rel="stylesheet" type="text/css"  media="screen and (max-width:900px)" href="{%static 'ulltma/css/learnreport-mobile.css'%}">

	<div class="container-fluid main">
		<div class="text-center">
			<h1> Congratulations! </h1>
			<h2> You are a <span id="style">{{style}}</span> learner! </h2>
			<br>
			<img src="{%static imgurl%}" width="200" height="200">
			<br>
			<br>
		</div>
		
		<div class="list">
			<ul>
			{%for d in desc%}
				<li>{{d}}</li>
			{%endfor%}
			</ul>
		</div>
		<div class="text-center">
			<button class="btn-light go-to" onclick="window.location.href='{% url 'dashboard' %}' "> Go to Learner Home Page </button>
		</div>
		
	</div>

{% endblock %}