{% extends "ulltma/loggedin.html" %}

{% load static mathfilters%}

{% block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{%static 'ulltma/css/prepostest.css'%}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{%static 'ulltma/css/prepostest-mobile.css'%}">

<div class="container main">
	<h2> Pre-Assessment </h2>

	<form id="prepost" action="{%url 'pretest' keyword%}" method="POST">
		{%csrf_token%}
		{%for q in questions%}
		{%with i=forloop.counter%}
			<div class="tab">
				<div class="progress">
					<div class="progress-bar bg-success" id="pgbar" role="progressbar" style="width:{{i|div:3|mul:100}}%;" aria-valuenow="{{i|div:3|mul:100}}" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<p id="prog">{{i}} of 3</p>
				<br>
				<br>
				<h2 id="qproper">{{q.question}}</h2> <!-- question proper-->
				<br>
				{%if q.imgurl != "-"%}
					<div class="text-center">
						<img src="{{q.imgurl}}" width="200px" height="200px">
					</div>
				{%endif%}
				<br>
					<div class="text-center">
						{%if q.qtype == "shortanswer" %}
							<input type="text" name="question_{{i}}" placeholder="Enter your answer here."> <br>
						{% elif q.qtype == "options" %}
						<!--
							<div>
								{% if q.op1 != "-" %}
									<input type="checkbox" id="op1" name="question_{{i}}[]" value="1"> {{q.op1}}<br>
								{% endif %}
								{% if q.op2 != "-" %}
									<input type="checkbox" id="op2" name="question_{{i}}[]" value="2"> {{q.op2}}<br>
								{% endif %}
								{% if q.op3 != "-" %}
									<input type="checkbox" id="op3" name="question_{{i}}[]" value="3"> {{q.op3}}<br>
								{% endif %}
								{% if q.op4 != "-" %}
									<input type="checkbox" id="op4" name="question_{{i}}[]" value="4"> {{q.op4}}<br>
								{% endif %}
								{% if q.op5 != "-" %}
									<input type="checkbox" id="op5" name="question_{{i}}[]" value="5"> {{q.op5}}<br>
								{% endif %}
							</div>
						-->
							<div>
								{% if q.op1 != "-" %}
									1. {{q.op1}}<br>
								{% endif %}
								{% if q.op2 != "-" %}
									2. {{q.op2}}<br>
								{% endif %}
								{% if q.op3 != "-" %}
									3. {{q.op3}}<br>
								{% endif %}
								{% if q.op4 != "-" %}
									4. {{q.op4}}<br>
								{% endif %}
								{% if q.op5 != "-" %}
									5.{{q.op5}}<br>
								{% endif %}

								<input type="text" name="question_{{i}}" placeholder="Enter your answer here."> <br>
							</div>

						{% elif q.qtype == "longanswer" %}
							<textarea name="question_{{i}}" rows="5" cols="50" placeholder="Enter your answer here."></textarea>
						{% endif %}
					</div>
				<br>
				<br>
				<div class="text-center">
					<input type="button" class="no-border" id="previous" onclick="nextprev(-1)" value="Previous">
					<input type="button" class="no-border" id="next" onclick="nextprev(1)" value="Next">
				</div>	
			</div>
		{%endwith%}
		{% endfor %}
	</form>
</div>

<script type="text/javascript" src="{%static 'ulltma/js/prepostest.js'%}"></script>
{% endblock %}
