{% extends "ulltma/loggedin.html" %}

{%load static%}

{% block body%}

<link rel="stylesheet" type="text/css" href="{%static 'ulltma/css/skills.css'%} ">

<div class="container main">
	<div id="searchbar">
		<form action="{% url 'reportsearch' %}" method="POST">
			<input type="text" name="searchtext">
			<input type="button" value="Search">
		</form>
	</div>

	<div id = "resultsarea">
		<h2><a href="{% url 'learnstylereport' %}">Learner's Style Report </a></h2>

		{%for r in reports%}
			<h2><a href="{%url 'learnresult' r.skill%}">{{r.skill}}</a></h2>
		{%empty%}
			<div id="msg" class="text-center">
				<p>Sorry! No results to display. Why not try learning a skill first?</p>
			</div>
		{%endfor%}
	</div>
</div>
{% endblock %}
