{% extends "ulltma/homestyle.html" %}

{% load static %}

{%block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{% static 'ulltma/css/signinp1.css' %}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{% static 'ulltma/css/signinp1-mobile.css' %}">
	<div class="text-center" id="logobrand">
		<img src="{%static 'ulltma/images/ulltmalogo.png'%}">
	</div>
	<div class="container-fluid main">
		<form action="{% url 'signin' %}" method="POST">
			{% csrf_token %}
			<div class="text-center">
				<div class = "slots">
					<h3> SIGN-UP INFO </h3>

					<span> First Name </span><br>
					{{form.firstname}} <br><br>

					<span> Last Name </span><br>
					{{form.lastname}}  <br><br>

					<span> Email </span><br>
					{{form.email}} <br><br>

					<span> Reenter Email</span><br>
					{{form.emailconfirm}} <br><br>

					<span> Password </span><br>
					{{form.pword}} <br><br>

					<span> Confirm Password </span><br>
					{{form.pconfirm}} <br><br>
				</div>

				<input type="submit" value="Complete Sign-up">
			</div>
		</form>
		{%if message%}
			<div class="modal" id="alert" tabindex="-1" aria-labelledby="AlertModalLabel" aria-hidden="true" data-auto-open>
				<div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="AlertModalLabel">Info</h5>
				      </div>
				      <div class="modal-body">
				        	{{message}}
				      </div>
				    </div>
				</div>
			</div>
		{% endif %}
		
		<script type="text/javascript" src="{%static 'ulltma/js/homepage.js'%}"></script>
	</div>

{% endblock %}