{% extends "ulltma/layout.html" %}

{% load static %}

{%block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{% static 'ulltma/css/signinp1.css' %}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{% static 'ulltma/css/signinp1-mobile.css' %}">

	<div class="container-fluid main">
		<form action="{% url 'signin' %}" method="POST">
			{% csrf_token %}
			<div class="row">
				<div class = "col-sm-5 col-md-5 col-lg-5 col-xl-5 slots">
					<h3> Personal Info </h3>

					{%if message%}
						<div><p>{{message}}</p></div>
					{%endif%}

					<span> First Name </span><br>
					{{form.firstname}} <br><br>

					<span> Last Name </span><br>
					{{form.lastname}}  <br><br>

					<span> Email </span><br>
					{{form.email}} <br><br>

					<span> Password </span><br>
					{{form.pword}} <br><br>

					<span> Confirm Password </span><br>
					{{form.pconfirm}} <br><br>
				</div>

				<div class = "col-sm-5 col-md-5 col-lg-5 col-xl-5 confirm">
					<h3 id="bigscreen"> Fill in the necessary details on the left. Once you're done, click below to find out your Learning Style! </h3>

					<h3 id="smallscreen"> Fill in the necessary details above. Once you're done, click below to find out your Learning Style! </h3>

					<br> <br>

					<div class="text-center">
						<input type="submit" value="Start Learning Test">
					</div>
				</div>
			</div>
		</form>
	</div>

{% endblock %}