{% extends "ulltma/layout.html" %}

{% load static %}

{%block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{% static 'ulltma/css/signinp1.css' %}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{% static 'ulltma/css/signinp1-mobile.css' %}">

<div class="text-center main">
	<img src="{%static 'ulltma/images/ulltmalogo.png'%}" width="150" height="150">
	<h2> Please check your email to complete your registration. </h2>

	<button onclick="window.open('','_self').close()">Close Window</button>
</div>


{% endblock %}