{% extends "ulltma/loggedin.html" %}

{%load static%}

{% block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{%static 'ulltma/css/skills.css'%} ">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{%static 'ulltma/css/skills-mobile.css'%} ">

<div class="container main text-center">
	<div id="logobrand">
		<img src="{%static 'ulltma/images/ulltmalogo.png'%}">
		<p>CONCEPTS/SKILLS</p>
	</div>

	<div id="searchbar">
		<form action="{%url 'skillsearch'%}" method="POST">
			{%csrf_token%}
			<input type="text" class="no-border" name="searchtext">
			<input type="submit" class="no-border" value="Search">
		</form>
	</div>

	<div id = "resultsarea">	
		{%for sb, tp in subtopics.items%}
			<div id="searchcontainer">
				<h1>{{sb}}</h1>
				<div class="gradient">
				</div>
				{%for t in tp%}
					<h2>{{t}}</h2>
					{%for sk in skills%}
						{%if sk.topic == t%}
							<p id="skilltitle" style=" margin-bottom: 0.5%;">{{sk.skill}}</p>
							<p><a href="{%url 'skillprep' sk.keyword%}">{{sk.description}}</a></p>
						{%endif%}
					{%endfor%}
				{%endfor%}
			</div>
		{%empty%}
			<div class="text-center">
				<p>Sorry! No results to display.</p>
			</div>
		{%endfor%}
	</div>

	<div id="bottom">
		<img id="botlogo" src="{%static 'ulltma/images/trademark_small.png'%}">
		<p id="copyright">Copyright © 2022. All rights reserved.</p>
	</div>
</div>
{% endblock %}
