{% extends "ulltma/layout.html" %}

{% load static%}

{%block body%}

<link rel="stylesheet" type="text/css" media="screen and (min-width:900px)" href="{%static 'ulltma/css/skillprep.css'%}">
<link rel="stylesheet" type="text/css" media="screen and (max-width:900px)" href="{%static 'ulltma/css/skillprep-mobile.css'%}">

<div class="text-center">
	<button class = "btn-light no-border" onclick="window.location.href='{% url 'ltools' keyword%}' "> Return to Learning Tools </button><br><br>
	<iframe src="{{link}}" style="width:80%; height:110vw;" />	
</div>

{% endblock %}