{%extends "ulltma/homepage.html"%}

{%load static%}

{%block content%}
	<div class="text-center" id="description">
		<img src="{%static 'ulltma/images/ulltmalogo.png'%}" width="150" height="150">
		<br>
		<br>
		<p> Welcome to</p> 
		<p id="app_title">ULLTMA!</p>
		<p id="app_desc"> The app that connects you with the learning tools that are right for you! </p>
	</div>
	<div class="text-center" id="loginform">
		<br>
		<p> Sign in! </p>
		<p id="sign_in_desc"> Enter your log-in details to access your account.</p>
		<form id="signin" action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<div class="form-group" id = "textbox">
				<img src="{%static 'ulltma/images/email.png'%}" width="25" height="25"><input type="text" class="no-border" name="email" placeholder="Email"><br>
				<img src="{%static 'ulltma/images/password.png'%}" width="25" height="25"><input type="password" class="no-border" name="password" placeholder="Password">
			</div>
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<input type="submit" id="lgin" value = "Log in"> 
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<input type="button" id="sgin" onclick = "window.location.href = '{% url 'signin' %}'" value = "Sign Up">  
				</div>
			</div>
		</form>
	</div>
		<br>
	<div class="text-center" id="others">
		<p> <a href="{% url 'changepasswordlogin' %}"> Forgot Password? </a></p>
		{%if message%}
			<div class="modal" id="alert" tabindex="-1" aria-labelledby="AlertModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="AlertModalLabel">Info</h5>
			      </div>
			      <div class="modal-body">
			        <p>{{message}}</p>
			      </div>
			    </div>
			  </div>
			</div>
		{% endif %}
	</div>
	<script type="text/javascript" src="{%static 'ulltma/js/homepage.js'%}"></script>
{%endblock content%}